[submodule "components/linux/src"]
	path = components/linux/src
	url = ../muen/linux.git
[submodule "tools/mugenschedcfg"]
	path = tools/mugenschedcfg
	url = https://github.com/orangecms/mugenschedcfg.git
